%h1 What’s running?
- helper = Object.new
- helper.extend ActionView::Helpers::DateHelper
- if apps.any?
  %ul.apps
    - apps.each do |app|
      %li.app
        - deploy = app.deploys.last
        %span.name= app.name
        %span.when= deploy ? "#{helper.time_ago_in_words(deploy.deployed_at)} ago" : "never deployed"
        %span.repository{:id => app.name} #{app.repository || "add username/repository"}
        - if deploy
          %p.deploy
            %span.sha= deploy.sha
            %span.message= deploy.commit_message
        - else
          %p.deploy unknown
- else
  %p No apps have been deployed.
  
- unless github
  %a{:href => "/authorize", :class => "button"} Authorize GitHub Account