%h1 What’s running?
- helper = Object.new
- helper.extend ActionView::Helpers::DateHelper
- if apps.any?
  %ul.apps
    - apps.each do |app|
      %li.app
        - deploy = app.deploys.last
        %span.name= app.name
        - if deploy
          %span.who= deploy.safe_author
        %span.when= deploy ? "#{helper.time_ago_in_words(deploy.deployed_at)} ago" : "never deployed"
        %span.repository{:id => app.name} #{app.repository || "add username/repository"}
        - if deploy
          %p.deploy
            %span.sha
              - if deploy.application.has_repository?
                %a{:href => deploy.commit_url}= deploy.sha
              - else
                = deploy.sha
            %span.branch= deploy.branch
            %span.message= deploy.commit_message
        - else
          %p.deploy unknown
- else
  %p No apps have been deployed.
  
- unless github
  %a{:href => "/authorize", :class => "button"} Authorize GitHub Account
  
%p 
  Add an app to this list:
  %pre.commands
    :preserve
      heroku addons:add deployhooks:http \
        url=http://#{request.host}/ --app your-app-name